section {
    padding: 56px 0;
}

.products {
    margin-top: 40px;

    .grid(3, ~"1%", ~"4%");
    grid-template-columns: repeat(3, 32.66%);
}

.product-item {
    img {
        width: 100%;
        border-radius: @border-radius-large;
    }
}

.product-button {
    display: block;
    background-color: @color-secondary;
    color: @color-white;
    text-align: center;
    padding: 8px 0;
    border-radius: @border-radius-small;
    margin-top: 8px;
    text-decoration: none;

    &:hover {
        background-color: @color-secondary-hover;
    }
}