@font-family: Roboto, sans-serif;

@color-bg: #f5f6fa;
@color-primary: #182C61;
@color-secondary: #44bd32;
@color-secondary-hover: #4cd137;
@color-white: #fff;

@container-width: 1024px;
@border-radius-large: 16px;
@border-radius-small: 8px;