@fontePrincipal: Roboto, sans-serif;
@fonteTitulo: Lobster, cursive;
@corTexto: #fff;
@corFundo: #1B1B3A;

body {
    background-color: @corFundo;
    font-family: @fontePrincipal;
    color: @corTexto;
}

h1 {
    font-family: @fonteTitulo;
    font-size: 3em;
}